<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <title>Document</title>
</head>
<body>
    <div id="app" class="top_container">
        <!-- inizio header -->
        <header>
            <div class="container">
                <div @click="home" class="logo">
                    <img src="img/boolflix.png" alt="">
                </div>
                <div class="menu">
                    <ul>
                        <li> <a @click="home" href="">Home</a> </li>
                        <li> <a href="">Serie tv</a> </li>
                        <li> <a href="">Film</a> </li>
                        <li> <a href="">La mia lista</a> </li>
                        <li> <a href="">Nuovi e popolari</a> </li>
                    </ul>
                </div>
                <div class="search_bar">
                    <i @click="addtext" class="fas fa-search"></i>
                    <input type="text" v-model="searchTitle" @keyUp.enter="addtext">
                    <i @click="deletetext" class="fas fa-times"></i>
                </div>
                <div class="option">
                    <i class="far fa-bell"></i>
                    <div class="utente">
                        <i class="far fa-grin-beam"></i> 
                        
                    </div>
                    <a href="">Log Out</a>
                </div>
            </div>
        </header>
        <!-- fine header -->
        <!-- inizio main -->
        <main>
            <div class="main_container">
                <!-- film container -->
                <div v-if="films.length == 0">
                    <h1>Effettua una ricerca</h1>
                </div>
                <div v-for="film in films" class="film_container">
                    <div class="layover">
                    </div>
                    <img v-if="film.backdrop_path" :src="'https://image.tmdb.org/t/p/w342' + film.backdrop_path" alt="">
                    <img v-else src="img/not-found.png" class="img_notfound" alt="">
                    <div class="film_info">
                        <div v-if="(film.original_title || film.original_name == film.title || film.name)" class="film_title">
                            <h2 class="title"  >{{film.title}} {{film.name}}</h2>
                        </div>
                        <div v-else class="film_title">
                            <h2 class="title">{{film.title}} {{film.name}}</h2>
                            <p>titolo originale:{{film.original_title}} {{film.original_name}}</p>
                        </div>
                        <div class="languages">
                            <span v-if="aviableFlags.includes(film.original_language)"> Lingua: <img :src="getFlag(film.original_language)" alt=""> </span>   
                            <p v-else>lingua: {{film.original_language}}</p>
                        </div>
                        <div class="score">
                            <i class="fas fa-star" v-for="stars in film.vote_average"></i>
                            <i class="far fa-star" v-for="stars in (5 - film.vote_average)"></i>
                        </div>
                        <div class="overview">
                            <p>{{film.overview}}</p>

                        </div>
                    </div>
                </div>
                <!-- fine film container -->
            </div>
        </main>
        <!-- fine main -->
    </div>
    <script src="js/main.js"></script>
</body>
</html>