<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <title>Document</title>
</head>
<body>
    <div id="app" class="container">
        <header>
            <input type="text" v-model="searchTitle" @keyup.enter="addtext">
        </header>
        <main>
            <div v-for="film in films" class="film_container">
                <ul>
                    <li>titolo: {{film.title}}</li>
                    <li>titolo originale:{{film.original_title}}</li>
                    <li>
                        <p v-if="film.original_language == 'it'"> <img src="img/it-100.png" alt=""> </p>
                        <p v-else-if="film.original_language == 'fr'"> <img src="img/fr-100.png" alt=""> </p>
                        <p v-else-if="film.original_language == 'de'"> <img src="img/de-100.png" alt=""> </p>
                        <p v-else>lingua:{{film.original_language}}</p>
                    </li>
                    <li>
                        <i class="fas fa-star" v-for="stars in film.vote_average"></i>
                        <i class="far fa-star" v-for="stars in (5 - film.vote_average)"></i>
                    </li>

                </ul>

            </div>
            <div v-for="serie in series" class="film_container">
                <ul>
                    <li>titolo:{{serie.name}}</li>
                    <li>titolo originale:{{serie.original_name}}</li>
                    <li>
                        <p v-if="serie.original_language == 'it'"> <img src="img/it-100.png" alt=""> </p>
                        <p v-else-if="serie.original_language == 'fr'"> <img src="img/fr-100.png" alt=""> </p>
                        <p v-else-if="serie.original_language == 'de'"> <img src="img/de-100.png" alt=""> </p>
                        <p v-else>lingua:{{serie.original_language}}</p>
                    </li>
                    <li>
                        <i class="fas fa-star" v-for="stars in serie.vote_average"></i>
                        <i class="far fa-star" v-for="stars in (5 - serie.vote_average)"></i>
                    </li>

                </ul>

            </div>
        </main>

    </div>
    <script src="js/main.js"></script>
</body>
</html>